{% extends '@MvoContaoSurvey/Form/Question.html.twig' %}

{% block form_row %}
    <div class="{% block answer_classes %}survey_answer survey_answer--rating{% endblock %}">
        {% set options = form.rating.children %}
        {% set activeOption = form.rating.children|filter(c => c.vars.checked)|first|default(0) %}

        {# Star rating, rendered as radio inputs where selecting option `n` marks options `1..n-1` as active #}
        <div class="{% block rating_wrapper_classes %}flex flex-row space-x-1{% endblock %}"
             x-data="{value: {{ activeOption ? activeOption.vars.value : 0 }}}">
            {% for option in options %}
                {% set value = option.vars.value|default(0) %}
                {% set label = option.vars.label %}

                <div class="{% block input_wrapper_classes %}{% endblock %}">
                    <input class="{% block input_classes %}hidden{% endblock %}" type="radio" id="{{ option.vars.id }}" name="{{ option.vars.full_name }}"
                           value="{{ value }}" :class="{'active': value>={{ value }}}" x-model="value" @reset="value=0"
                           title="{{ label }}"{% if option.vars.required %} required="required"{% endif %}{% if option.vars.checked %} checked="checked"{% endif %}>
                    <label for="{{ option.vars.id }}" title="{{ label }}" class="{% block label_classes %}cursor-pointer{% endblock %}">
                        <span class="{% block selector_wrapper_classes %}block w-6 h-6{% endblock %}" x-cloak>
                            <span x-show="value<{{ value }}">
                                {% block selector_inactive %}
                                    {# Star outline #}
                                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                              d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path>
                                    </svg>
                                {% endblock %}
                            </span>
                            <div x-show="value>={{ value }}">
                                {% block selector_active %}
                                    {# Star filled #}
                                    <svg fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                    </svg>
                                {% endblock %}
                            </div>
                        </span>
                    </label>
                </div>
            {% endfor %}
        </div>

        {{ form_errors(form.rating) }}
    </div>

    {% do form.rating.setRendered %}
{%- endblock -%}
