{% extends '@MvoContaoSurvey/survey.html.twig' %}

{% form_theme current_step.form '@MvoContaoSurvey/Form/survey_theme.html.twig' %}
{% trans_default_domain 'MvoContaoSurveyBundle' %}

{% block content %}
    {% set form = current_step.form %}

    {% if current_step.section is defined %}
    <div class="section">
        <h3 class="section">{{ current_step.section.title }}</h3>
        {% if current_step.section.description %}
          {{ current_step.section.description|raw }}
        {% endif %}
    </div>
    {% endif %}

    {{ form_start(form, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'attr': {'novalidate': 'novalidate'}}) }}
    {% for question in current_step.questions %}
    <div class="question">
        <h4 class="question{% if question.mandatory %} required{% endif %}">{{ question.question }}</h4>
        <div class="progress"
             data-value="{{ current_step.index }}"
             data-max="{{ total_steps }}"
             style="--percent: {{ 100 * current_step.index / total_steps }}%; --percent-previous: {{ 100 * (current_step.index - 1) / total_steps }}%"
             title="{{ current_step.index }}/{{ total_steps }}">
            <span>{{ current_step.index }}/{{ total_steps }}</span>
        </div>

        <div class="description">
            {{ question.description|raw }}
            {#
            {% if question.image and false %}
                <figure class="image image--survey">
                    {{ picture(question.image, '_survey') }}
                </figure>
            {% endif %}
            #}
        </div>

        <fieldset data-survey>
            <legend>{{ question.instruction }}</legend>
            {{ form_row(form[question.name]) }}
            <div class="reset_current">
                <input type="reset" value="{{ 'form.button.clear_current'|trans() }}"
                       title="{{ 'form.button.clear_current_title'|trans() }}">
            </div>
        </fieldset>
    </div>
    {% endfor %}

    <nav class="navigation">
        {% if not current_step.mandatory -%}
            <span class="note_skip">{{ 'form.skip'|trans({'%count%': current_step.questions|length}) }}</span>
        {%- endif %}
        {% if form.previous is defined %}
            {{- form_widget(form.previous, {label: 'form.button.previous'|trans(), attr: {class: 'previous'}}) -}}
        {% endif %}
        {% if current_step.is_last %}
            {{- form_widget(form.next, {label: 'form.button.submit'|trans(), attr: {class: 'next submit'}}) -}}
        {% else %}
            {{- form_widget(form.next, {label: 'form.button.next'|trans(), attr: {class: 'next'}}) -}}
        {% endif %}
    </nav>

    <div class="footer">
        <span>{{ 'form.note_reset_all'|trans() }}</span>
        {{ form_widget(form.reset, {label: 'form.reset_all'|trans(), attr: {class: 'reset'}}) }}
    </div>

    <input type="hidden" name="REQUEST_TOKEN" value="{{ contao_csrf_token }}">
    {{ form_end(form) }}
    </div>
{% endblock %}
